* {
  padding: 0px;
  margin: 5px;
}

.paw {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: shake;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {transform: rotate(-30deg);}
  50% {transform: rotate(30deg);}
  100% {transform: rotate(-30deg);}
}

body {
  background-color: #6B0504;
}

header {
  background-color: #E6AF2E;
  padding: 2rem 0rem .5rem 0rem;
  border-radius: 10px;
}

header > nav {
  display: flex;
  width: 100%;
}

header > div {
  padding-left: 1rem;
}

.usernav {
  border-bottom: 3px solid black;
  justify-content: right;
  width: 99%;
  padding-bottom: .5rem;
}

.userul {
  width: fit-content;
  display: flex;
  justify-content: right;
  background-color: #6B0504;
}

a {
  color: #FBFFFE;
  text-decoration: none;
}

a:hover {
  color: #E6AF2E;
  font-weight: bold;
}


li {
  list-style-type: none;
  padding: 1rem;
  margin: 0rem 1rem;
}

.gennav {
  width: fit-content;
  display: flex;
  margin-top: .5rem;
  justify-content: right;
  background-color: #6B0504;
}

article {
  background-color: #e1b95c;
  color: black;
  border-radius: 10px;
  padding: 1rem;
}


footer {
  color: #FBFFFE;
  text-align: center;
}